:root {
    --main--color: #d3ad7f;
    --black: #1313131a;
    --backgroug-color: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --white: #fff;
    --font-family: "Poppins", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--backgroug-color);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--white);
    text-decoration: none;
    transition: 0.2s linear;
}

.navbar a:hover {
    color: var(--main--color);
    border-bottom: 0.1rem solid var(--main--color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.title {
    font-size: 4rem;
    color: var(--main--color);
    text-align: center;
    margin-bottom: 4rem;
}

.title span {
    color: var(--white);
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    cursor: pointer;
}

.menu .box-container .box-item {
    text-align: center;
    border: var(--border);
    padding: 5rem;
}

.menu .box-container .box-item img {
    height: 10rem;
}

.menu .box-container .box-item h3 {
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box-item .price {
    color: var(--white);
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box-item span {
    text-decoration: line-through;
    font-size: 1.5rem;
    font-weight: 100;
}

.menu .box-container .box-item:hover {
    background-color: var(--white);
}

.menu .box-container .box-item:hover > * {
    color: var(--backgroug-color);
}

.btn {
    display: inline-block;
    background-color: var(--main--color);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: none;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .menu .box-container {
        grid-template-columns: 1fr 1fr;
    }

    .menu .box-container .box-item {
        padding: 3rem;
    }
}

@media (max-width: 480px) {
    .menu .box-container {
        grid-template-columns: 1fr;
    }

    .menu .box-container .box-item {
        padding: 2rem;
    }
}
